<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml"/>
    <link rel="me" href="https://github.com/kvaettr">
    <!-- Grab title from the page data and dump it here -->
    <title>{{ title }}</title>
  </head>
  <body>
    <img src="/images/invert-vaettr.png" class="header" alt="hand-drawn vaettr logo">
    <nav>
      <a href="/">home</a> <a href="/pages/about">about</a> <a href="/pages/now">now</a> <a href="/pages/uses">uses</a> <a href="/pages/ideas">ideas</a> <a href="/feed.xml">rss</a> <a rel="me" href="https://social.lol/@vae">mastodon</a>
    </nav>
  <!-- Grab the content from the page data and dump it here, and mark it as safe -->
  <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
    <div class="content">  
      <article class="h-entry">
        <h1 class="p-name"><a class="u-url" href="{{ post.url }}">{{ title }}</a></h1>
        <p><time class="dt-published">{{ date | postDate }}</time> - <a rel="author" class="p-author h-card" href="http://vaettr.com">Vae</a></p>
        
       <!--This is something to add later - collections/cateogories with a specific blog page <a class="p-category" href="/posts"> {{ collections.posts }}</a> -->
        <p class="e-content">{{ content | safe }}</p>
      </article>
    </div>
  </body>
  </html>