---
layout: layout.njk
title: vaettr
---

<div class="content">
<h1>It begins!</h1>
<p>I put this brand new baby blog together using Eleventy, bit by bit with the help of the very straightforward <a href="https://sia.codes/posts/itsiest-bitsiest-eleventy-tutorial/" target="blank" rel="noopener noreferrer">tutorial</a> by <a href="https://sia.codes/" target="blank" rel="noopener noreferrer">Sia Karamalegos</a>.</p>

<p> I briefly skipped out on 11ty because I thought given that I am so much more comfortable with wordpress, I'd likely enjoy that more, but in all honesty, despite the fact that I am <em>very</em> new to this, the fact I've come this far with my little site, and have learned it all as I went is kind of special to me. I'm going to keep trying to make this work!</p>
<p>-<a href="https://vaettr.com/" class="h-card u-url u-uid" rel="me">Vae</a></p>

  <div class="post-list">
    Subscribe via <a href="/feed.xml">RSS</a>
  <ul>
    {% for post in collections.posts | reverse %}
      <li><a href="{{ post.url }}">{{ post.date | postDate }} - {{ post.data.title }}</a></li>
    {% endfor %}
</ul>
</div>

</div>