* {
    font-family: monospace;
    
}

a {
    color:darkmagenta;
}

nav {
    display: block;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

.post-list {
    border-color: darkmagenta;
    border-style: double;
    border-width: 5px;
    background-color: rgb(254, 246, 254);
    margin: 0 auto;
    width: 600px;
    padding-top: 25px;
    padding-bottom: 25px;
}